dist

**/src/libs/*
**/dist/*
**/wip/*
node_modules/
*.min.js
*.md
**/*.minified.js
bundle.js

public/
.cache/

examples/**
modules/tiles/src/bundle.ts
modules/tile-converter/
modules/potree/test/data/**/cloud.js
examples/experimental/gltf-with-raw-webgl/
