dist

**/src/libs/*
**/dist/*
**/wip/*
node_modules/
*.min.js
*.md
**/*.minified.js
bundle.js

public/
.cache/

examples/**
examples/experimental/gltf-with-raw-webgl/

modules/flatgeobuf/src/flatgeobuf*
modules/potree/test/data/**/cloud.js
modules/tiles/src/bundle.ts
modules/zarr
