# tests
test/data/test.png

# dists
dist/*
**/dist/*
dist.js
dist.min.js

.reify-cache
.nyc_output/
coverage/
node_modules/
npm-debug.log
stats.json
package-lock.json
*/**/yarn.lock
yarn-error.log

# Misc files
*.zip
*.rar
*.log

# editor files
.idea
.project
.DS_Store
*.swp

# local data
data/**
