{
  "include": [
    "modules/**/src/**/*.+(js|jsx|mjs|ts|tsx)"
  ],
  "exclude": [
    "**/*disabled",
    "**/deprecated",
    "**/wip/**",
    "**/libs/**",
    "**/test/**",
    "**/*.d.ts",

    "**/bundle.+(js|ts)",
    "**/*.worker.+(js|ts)",
    "**/text-encoding.js",
    "**/encoding.js",
    "**/laz-perf.js",
    "modules/video/src/lib/gifshot/gifshot.ts",
    "modules/polyfills/src/text-encoder/text-encoder.ts",
    "modules/compression/src/brotli/decode.ts",
    "modules/terrain/src/lib/delatin/index.ts",
    "modules/crypto/src/lib/algorithms/md5-wasm.ts",
    "modules/wms/src/lib/parsers/gml/deep-strict-equal.ts",
    "**3d-tiles/src/styles/**",
    "**/src/flatgeobuf/**",
    "modules/parquet/src/parquetjs/parquet-thrift/**",
    "modules/traces/src/otlp-proto/generated/**",
    "modules/worker-utils/src/lib/process-utils/child-process-proxy.ts"
  ]
}
