{
  "all": "true",
  "sourceMap": false,
  "instrument": true,
  "include": [
    "src/**/*.js",
    "modules/**/src/**/*.js"
  ],
  "exclude": [
    "**/deprecated",
    "**/bundle.js",
    "**/*.worker.js",
    "**/src/libs/**",
    "**/text-encoding.js",
    "**/encoding.js",
    "**/laz-perf.js",
    "**/wip/**",
    "**/test/**",
    "**3d-tiles/src/styles/**"
  ]
}
