{
  "all": "true",
  "include": [
    "modules/**/src/**/*.+(js|jsx|mjs|ts|tsx)"
  ],
  "exclude": [
    "**/*disabled",
    "**/deprecated",
    "**/wip/**",
    "**/libs/**",
    "**/test/**",
    "**/*.d.ts",

    "**/bundle.+(js|ts)",
    "**/*.worker.+(js|ts)",
    "**/bundle.+(js|ts)",
    "**/*.worker.+(js|ts)",
    "**/text-encoding.js",
    "**/encoding.js",
    "**/laz-perf.js",
    "**3d-tiles/src/styles/**"
  ]
}
