**/src/libs/*

**/dist/*
**/wip/*
node_modules/
*.min.js
.cache
public

modules/potree/test/data/**/cloud.js
examples/experimental/gltf-with-raw-webgl/
modules/i3s/src/i3s-attribute-loader.ts
modules/i3s/src/lib/parsers/parse-i3s.ts
modules/images/src/lib/category-api/image-type.ts
