**/src/libs/*

**/dist/*
**/wip/*
node_modules/
*.min.js
.cache
public

modules/parquet/test

modules/potree/test/data/**/cloud.js
examples/experimental/gltf-with-raw-webgl/

modules/flatgeobuf/src/lib/binary-geometries.ts
modules/i3s/src/i3s-attribute-loader.ts
modules/i3s/src/lib/parsers/parse-i3s.ts
modules/images/src/lib/category-api/image-type.ts
modules/obj/src/lib/get-obj-schema.ts

modules/mvt/src/lib/geojson-tiler/tile.ts

modules/xml/test/sax-ts/testcases/attribute-name.spec.ts
modules/xml/test/sax-ts/testcases/opentagstart.spec.ts
modules/xml/test/sax-ts/testcases/script-close-better.spec.ts
modules/xml/test/sax-ts/testcases/script.spec.ts
modules/xml/test/sax-ts/testcases/xmlns-unbound.spec.ts
modules/xml/test/sax-ts/testcases/xmlns-xml-default-ns.spec.ts
modules/xml/test/sax-ts/testcases/xmlns-xml-default-prefix-attribute.spec.ts
modules/xml/test/sax-ts/testcases/xmlns-xml-default-redefine.spec.ts

modules/wms/src/lib/gml/parse-gml.ts
modules/wms/src/lib/wfs/wfs-types.ts
modules/wms/src/wms-layer-description-loader.ts

modules/wms/test/data/wms/errors.ts

modules/wms/test/wms/wms-error-loader.spec.ts
modules/wms/test/wms-feature-info-loader.spec.ts
modules/wms/test/wms/wms-feature-info-loader.spec.ts
modules/wms/test/wmts/wmts-capabilities-loader.spec.ts
modules/wms/test/wfs/wfs-capabilities-loader.spec.ts
