**/src/libs/*

**/dist/*
**/wip/*
node_modules/
*.min.js
.cache
public

modules/core/src/iterators/make-stream/make-node-stream.ts

modules/3d-tiles/test/lib/classes/tile-3d-batch-table-hierarchy.spec.ts

modules/bson/src/bson-writer.ts
modules/bson/src/index.ts
modules/bson/src/lib/encoders/encode-bson.ts
modules/bson/src/lib/parsers/parse-bson.ts
modules/bson/test/data/js-bson/corrupt.ts

modules/parquet/test

examples/experimental/gltf-with-raw-webgl/

modules/potree/test/data/**/cloud.js

modules/flatgeobuf/src/lib/binary-geometries.ts

modules/i3s/src/i3s-attribute-loader.ts
modules/i3s/src/lib/parsers/parse-i3s.ts

modules/images/src/lib/category-api/image-type.ts
modules/images/test/image-loader.spec.ts

modules/obj/src/lib/get-obj-schema.ts

modules/mvt/src/lib/geojson-tiler/tile.ts

modules/parquet/test

modules/textures/test/basis-loader.spec.ts

modules/xml/test/sax-ts/testcases/attribute-name.spec.ts
modules/xml/test/sax-ts/testcases/opentagstart.spec.ts
modules/xml/test/sax-ts/testcases/script-close-better.spec.ts
modules/xml/test/sax-ts/testcases/script.spec.ts
modules/xml/test/sax-ts/testcases/xmlns-unbound.spec.ts
modules/xml/test/sax-ts/testcases/xmlns-xml-default-ns.spec.ts
modules/xml/test/sax-ts/testcases/xmlns-xml-default-prefix-attribute.spec.ts
modules/xml/test/sax-ts/testcases/xmlns-xml-default-redefine.spec.ts

modules/wms/src/lib/data-sources/ogc/csw-service.ts

modules/wms/src/lib/parsers/gml/parse-gml.ts
modules/wms/src/lib/wip
modules/wms/src/wms-layer-description-loader.ts

modules/wms/test/data/wms/errors.ts

modules/wms/test/wms/wms-error-loader.spec.ts
modules/wms/test/wms-feature-info-loader.spec.ts
modules/wms/test/wms/wms-feature-info-loader.spec.ts
modules/wms/test/wmts/wmts-capabilities-loader.spec.ts
modules/wms/test/wfs/wfs-capabilities-loader.spec.ts
