.exampleContainer {
  background: transparent;
  border-radius: 22px;
  margin: 1.25rem 0 2rem;
  position: relative;
  overflow: hidden;
}

.visualExample {
  height: 420px;
}

.tableExample {
  height: auto;
}

.loadingContainer {
  width: 100%;
}

.loadingContainer.visualExample {
  height: 420px;
}

.loadingContainer.tableExample {
  height: 160px;
}
